.panel-root {
    --panel-bg: rgb(245, 245, 245);
    --sub-panel-title-bg: #FFF;
    --sub-panel-title-color: #616161;
    --resize-handle-height: 4px;
    --resize-hover-color: rgb(0, 120, 212);

    overflow-y: auto;

    width: 320px;
    height: 90vh;
    border: thin solid #2e2e2e;
    border-radius: 4px;


    .sub-panel-root {
        // min-height: 24px;
    }

    // Add border to signal where the resize handle will be
    > .resize-handle + .sub-panel-root {
        > .panel-title {
            border-top: thin solid #eaeaea;
        }
    }
}

.pixel-panel {
    .sub-panel {
    }
    .sub-panel.collapsed {
        height: 24px !important;
    }
    .sub-panel:not(.collapsed) {
        min-height: 148px;
    }
}